<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for实例</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>

<body>
    <h1>v-if&v-else&v-show</h1>
    <hr>
    <div id="app">
        <ul>
            <li v-for="item in sortItems">
                {{item}}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(student,index) in sortStudents">
                {{index+1}}:{{student.name}}-{{student.age}}
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                items: [53, 23, 7, 14, 54, 36, 28],
                // 在data里声明了属性items，而在下边不是赋值而是进行编程，为了保护data里的item，不允许你编程。
                students:[
                    {name:'zouyinjiao',age:21},
                    {name:'chenyinjun',age:20},
                    {name:'hemenglei',age:19},
                    {name:'liuwenjun',age:23},
                    ]
            },
            // 若是要让items排序要通过计算
            computed: {
                sortItems: function () {
                    //要重新命名一个items，新命名为sortItems
                    return this.items.sort(compare);//sort()即做了编程操作，而不是赋值
                },
                sortStudents:function(){
                    return sortByKey(this.students,'age');//按age排序
                }
            }
        })

        function compare(value1,value2) {
            return value1-value2;
          }

        //数组对象方法排序:
        function sortByKey(array,key){
            return array.sort(function(a,b){
              var x=a[key];
              var y=b[key];
              return ((x<y)?-1:((x>y)?1:0));
            });
        }
    </script>
</body>

</html>